<div class="container">
  <!-- placeholder -->
  <div class="item"></div>

  <!-- socials -->
  <div class="item">
    <div class="icon-text-container email">
      <mat-icon fontIcon="email"></mat-icon>
      <a href="mailto:info&#64;stu.dio.eu">info&#64;stu.dio.eu</a>
    </div>
    <div class="devider icon-text-container">
      <mat-icon fontIcon="phone"></mat-icon>
      <a href="tel:+31617148124">(+31) 06 17148124</a>
    </div>
    <p class="social-text">FOLLOW ME ON SOCIAL MEDIA!</p>
    <div class="socials">
      <a href="https://www.linkedin.com/in/ryan-pootjes-b38b6636a">
        <img
          src="https://img.icons8.com/ios7/512/FFFFFF/linkedin.png"
          alt="linkedIn logo"
        />
      </a>
      <a href="https://www.instagram.com/stu_dio.eu">
        <img
          src="https://img.icons8.com/win10/512/FFFFFF/instagram-new.png"
          alt="Instagram logo"
        />
      </a>
      <a href="https://www.youtube.com/@STU_dio_3D">
        <img
          src="https://img.icons8.com/ios7/512/FFFFFF/youtube-play.png"
          alt="youtube logo"
        />
      </a>
    </div>
    <a class="about-me" routerLink="/about">About me</a>
    <p class="kvk">KVK: 92083072</p>
  </div>

  <!-- logo -->
  <div class="item">
    <div class="logo-container">
      <img src="/images/logo.png" alt="logo" />
    </div>
  </div>
</div>
