@import "../../styles/variables";
h1,
h5 {
  font-family: "E-muse", sans-serif;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  text-align: center;
}
.container {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $background-blue;
}
