@if (showHeader){
<div
  class="container"
  [ngStyle]="{
    'background-color': backgroundColor != null ? backgroundColor : null
  }"
>
  <div class="language-switch">
    <div
      class="language-btn"
      [ngClass]="{ active: this.currentLanguage == 'en' }"
      (click)="setLanguage('en')"
    >
      EN
    </div>
    <div
      class="language-btn"
      [ngClass]="{ active: this.currentLanguage == 'nl' }"
      (click)="setLanguage('nl')"
    >
      NL
    </div>
  </div>
  <div class="logo-container">
    <a routerLink="/"> <img src="/images/logo.png" alt="logo" /></a>
  </div>
  <div class="routing-container">
    @if(showFullNavigation){
    <ng-container *transloco="let t">
      <div class="routing-item">
        <a routerLink="/gallery">{{ t("CommonTitles.Gallery") }}</a>
      </div>
      <div class="routing-item">
        <a routerLink="about">{{ t("CommonTitles.About") }}</a>
      </div>
    </ng-container>
    }
  </div>
</div>
}
