<div class="main">
  <div class="container">
    <h1 class="title">ABOUT</h1>
    <div class="content-container">
      <div class="content">
        <h1>HELLO</h1>
        <h5>My name is Ryan</h5>
        <p>I am a 20 year old 3D digital designer from the Netherlands.</p>
        <p>
          This year, I graduated from the Digital Design & Motion program at
          SintLucas in Eindhoven.
        </p>
        <p>
          I am a hard worker and a true perfectionist when it comes to 3D work,
          because I always strive for the best result.
        </p>
        <p>Not just for myself, but of course also for the client.</p>
      </div>
      <img
        src="https://www.svgrepo.com/show/508699/landscape-placeholder.svg"
        alt="selfie"
      />
    </div>
    <div class="content-container work-container">
      <img
        src="https://www.svgrepo.com/show/508699/landscape-placeholder.svg"
        alt="render"
      />
      <div class="content">
        <h1>WORK</h1>
        <p>
          Ik werk niet in teamverband en doe het grootste deel van alles zelf.
        </p>
        <p>
          De programma's die ik gebruik zijn Blender en Substance Painter voor
          het 3D-gedeelte.
        </p>
        <p>
          Daarnaast gebruik ik Adobe Premiere Pro, Photoshop, After Effects en
          nog veel meer voor mijn projecten.
        </p>
        <p>
          Ik sta open om in veel verschillende stijlen te werken, maar richt me
          het meest op realisme.
        </p>
        <p>
          n mijn projecten wordt geen gebruik gemaakt van AI, alles is echt zelf
          gemaakt!
        </p>
      </div>
    </div>
  </div>
</div>
