<ng-container *transloco="let t">
  <div class="main">
    <div class="container">
      <h1 class="title">{{ t("CommonTitles.About") }}</h1>
      <div class="content-container">
        <div class="content">
          <h1>{{ t("AboutPage.Hello.Title") }}</h1>
          <h5>{{ t("AboutPage.Hello.SubTitle") }}</h5>
          <p>{{ t("AboutPage.Hello.Text1") }}</p>
          <p>
            {{ t("AboutPage.Hello.Text2") }}
          </p>
          <p>
            {{ t("AboutPage.Hello.Text3") }}
          </p>
          <p>{{ t("AboutPage.Hello.Text4") }}</p>
        </div>
        <img src="/images/PFP.png" alt="selfie" />
      </div>
      <div class="content-container work-container">
        <img src="/images/lp-cover.png" alt="render" />
        <div class="content">
          <h1>{{ t("AboutPage.Work.Title") }}</h1>
          <p>
            {{ t("AboutPage.Work.Text1") }}
          </p>
          <p>
            {{ t("AboutPage.Work.Text2") }}
          </p>
          <p>
            {{ t("AboutPage.Work.Text3") }}
          </p>
          <p>
            {{ t("AboutPage.Work.Text4") }}
          </p>
          <p>
            {{ t("AboutPage.Work.Text5") }}
          </p>
        </div>
      </div>
      <div class="content-container">
        <div class="content">
          <h1>{{ t("AboutPage.Interested.Title") }}</h1>
          <p>{{ t("AboutPage.Interested.Text1") }}</p>
          <p>
            {{ t("AboutPage.Interested.Text2") }}
          </p>
          <p>
            {{ t("AboutPage.Interested.Text3") }}
          </p>
          <p>{{ t("AboutPage.Interested.Text4") }}</p>
          <p>{{ t("AboutPage.Interested.Text5") }}</p>
        </div>
        <img src="/images/InterestedImgAbout.png" alt="selfie" />
      </div>
    </div>
  </div>
</ng-container>
