<div class="container">
  <!-- banner -->
  <img src="/images/banner.png" alt="banner" />

  <!-- showreel -->
  <div class="showreel-container">
    @if(showBackgroundImage){
    <img class="background-img" src="/images/statue1.png" alt="statue" />
    }
    <div class="content-container">
      <div class="showreel-item">
        <h1>SHOWREEL</h1>
        <p>A short showreel to show what I can do and who I am.</p>
        <p>
          It's not a lot of work yet but it does give an idea of where my
          strenghts currently lie.
        </p>
        <p>In the comming period, I will continue to expand my gallery.</p>
        <a routerLink="/gallery" class="gallery-btn">Gallery</a>
      </div>
      <div class="showreel-item video-container">video</div>
    </div>
  </div>
</div>
