@import "../../styles/variables";
.container {
  position: relative;
  img {
    width: 100%;
    object-fit: contain;
    display: block;
    z-index: 1;
  }

  app-header {
    position: absolute;
    top: 0;
    width: 100%;
    height: fit-content;
  }

  //Showreel
  .showreel-container {
    position: relative;
    background-color: $background-blue;

    .background-img {
      position: absolute;
      top: 0;
      left: -5%;
      width: 100%;
      height: 100%;
      z-index: 0;
    }

    .content-container {
      padding: 50px;
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: row;
      gap: 50px;
      background-image: url("/images/statue1.png");
      background-repeat: no-repeat;
      background-position: top left;
      background-size: 80%;

      .showreel-item {
        width: 50%;

        h1 {
          font-family: "E-muse", sans-serif;
          image-rendering: optimizeSpeed;
          image-rendering: -moz-crisp-edges;
          image-rendering: -webkit-optimize-contrast;
          image-rendering: optimize-contrast;
          margin-bottom: 45px;

          @media screen and (max-width: 600px) {
            font-size: xx-large;
          }
        }

        p {
          margin: 0px;
          font-size: x-large;
          font-family: arial;
        }

        .gallery-btn {
          margin-top: 25px;
          display: inline-block;

          padding: 10px 20px;
          background-color: #3f51b5;
          color: white;
          text-decoration: none;
          border-radius: 5px;
        }
      }

      .video-container {
        background-color: red;
        height: 300px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      @media screen and (max-width: 1550px) {
        background-size: 100%;
      }

      @media screen and (max-width: 1320px) {
        background-size: 120%;
        background-position: top right;
      }

      @media screen and (max-width: 1120px) {
        background-size: 130%;
        background-position: center left;
      }

      @media screen and (max-width: 600px) {
        background-size: 150%;
        background-position: center left;
      }

      @media screen and (max-width: 400px) {
        background-image: none;
      }

      @media screen and (max-width: 1200px) {
        flex-direction: column;
        padding: 20px;
        .showreel-item {
          width: 100%;
          text-align: center;
        }
        .gallery-btn {
          margin-left: auto;
          margin-right: auto;
        }
        .video-container {
          width: 100%;
          height: 200px;
        }
      }
    }
  }
}
