<div class="container">
  <!-- banner -->
  <img
    src="{{
      showPhoneBanner ? '/images/banner.png' : '/images/banner-telefoon.png'
    }}"
    alt="banner"
  />

  <!-- showreel -->
  <div class="showreel-container">
    <div class="content-container">
      <div class="showreel-item">
        <ng-container *transloco="let t">
          <h1>{{ t("HomePage.Showreel.Title") }}</h1>
          <p>{{ t("HomePage.Showreel.Text1") }}</p>
          <p>
            {{ t("HomePage.Showreel.Text2") }}
          </p>
          <p>{{ t("HomePage.Showreel.Text3") }}</p>
          <a routerLink="/gallery" class="gallery-btn">{{
            t("Buttons.Gallery")
          }}</a>
        </ng-container>
      </div>
      <div class="showreel-item video-container">COMMING SOON</div>
    </div>
  </div>
</div>
